{% extends 'base.html' %}

{% block content %}
    <section class="search-section">
        <form method="GET" action="{% url 'chemical_processes' %}" class="search-form">
            <input type="text" name="search_processes" value="{{ search_processes_query }}"
                   placeholder="Поиск по названию процесса или продукту..." 
                   class="search-input">
            <button type="submit" class="search-btn">Найти</button>
        </form>
    </section>

    <div class="processes-grid">
        {% for process in processes %}
        <div class="process-card">
            <div class="process-image">
                <img src="{{ process.image }}" 
                     alt="{{ process.name }}">
            </div>
            
            <h3>{{ process.name }}</h3>
            <p class="reagent"><strong>Исходное сырье:</strong> {{ process.input_reagent }}</p>
            <div class="card-actions">
                <form method="post" action="{% url 'add_chemical_process' process.id %}">
                    {% csrf_token %}
                    <button name="add_chemical_process" class="add-btn">Добавить
                    </button>
                </form>
                <a href="{% url 'chemical_process_detail' process.id %}" class="btn-primary">Подробнее</a>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}